@model List<BlogWeb.Models.Post>

@if (Model != null && Model.Any())
{
    @foreach (var post in Model.Where(p => p.IsActive && p.IsTrend))
    {
        <div class="single-recent-blog-post">
            <div class="thumb">
                @if (!string.IsNullOrEmpty(post.Thumbnail))
                {
                    <img class="img-fluid" src="@Url.Content($"~/uploads/post/{post.Thumbnail}")" alt="@post.Title">
                }
                else
                {
                    <img class="img-fluid" src="/img/default-thumbnail.png" alt="Default Thumbnail">
                }
                <ul class="thumb-info">
                    <li><a><i class="ti-user"></i>@post.User?.Username</a></li>
                    <li><a><i class="ti-notepad"></i>@post.CreatedAt?.ToString("MMMM dd, yyyy")</a></li>
                </ul>
            </div>
            <div class="details mt-20">
                <a href="@Url.Action("Detail", "Posts", new { id = post.PostId })">
                    <h3>@post.Title</h3>
                </a>
                <p class="tag-list-inline">Danh mục: <a>@post.Category?.CategoryName</a></p>
                <a class="button" href="@Url.Action("Detail", "Posts", new { id = post.PostId })">Đọc thêm<i class="ti-arrow-right"></i></a>
            </div>
        </div>
    }
}
else
{
    <p>Không có bài viết nào.</p>
}
